name: hello world!
on: 
  push:
    branches: [Mocking-Exercise]

jobs:
    weather_test:
        runs-on: ubuntu-latest
        steps:
            - name: repostory clonation
              uses: actions/checkout@v3

            - uses: action/checkout@v4
              with:
                python-version: '3.10'

            - run: pip install unittest

            - run: python main_test.py
