name: build image

on:
  push:
    branches: [pipeline-python]

jobs:

  build:
    runs-on: ubuntu-latest

    steps:

    - name: checkout
      uses: action/checkout@v5

    - name: configurar python
      uses: action/setup-python@v5
      with:
        python-version: '3.10'

    - name: Instalar dependencias
      run: pip install flask

    - name: Ejecutrar pruebas
      run: python test.py

    - name: login a Github packages
      uses: docker/login.action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN}}

    - name: construir y publicar imagen
      uses: docker/build-push-action@v4
      with:
        context: .
        push: true
        tags: ghcr.io/${{ github.repository_owner }}/python_app:latest